<!--The content below is only a placeholder and can be replaced.-->
<div class="container position-relative">
      <div class="page-header">
  <a routerLinkActive="active" [routerLink]="['/Home']" [routerLinkActiveOptions]="{exact: true}">Home</a> | 
  <a [routerLink]="['/FindFlow']" routerLinkActive="active">Find Flow</a> | <a routerLinkActive="active" [routerLink]="['/MessagePanel']">Message Panel</a> | <a routerLinkActive="active" [routerLink]="['/ColPagination']">Column Pagination</a>
</div>
<router-outlet></router-outlet>

<div class="message-panel">
        <app-fdx-message-box [data]="msgData" [pushMessage]="pushMsg" [totalMsg]="msgCount"></app-fdx-message-box> 
</div>
</div>
